.faqs {
    margin-top: 100px;

    &__container {
        display: flex;
        flex-direction: column;
    }


    &__title {
        color: $darkNavy;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2.143px;
    }

    &__bottom {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-top: 64px;

        &_title {
            color: $darkNavy;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -1.786px;
        }
    }

    &__right {
        max-width: 730px;
        width: 100%;

        &_card {
            &__info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 32px 40px;
                background-color: #F2F5F9;

            }

            &__title {
                color: $darkNavy;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: -1.071px;
            }

            &--active {
                display: none;
                align-items: center;
                justify-content: center;
                background-color: #F2F5F9;
                max-width: 730px;
                width: 100%;
                height: 100px;


                &__txt {
                    color: $darkNavy;
                    font-family: $fontLexend;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                    max-width: 650px;
                    width: 100%;
                    padding: 24px 0;
                }
            }
        }
    }
    &__flex{
        display: flex;
        flex-direction: column;
    }
    &__button{
        border: none;
        background-color: transparent;
    }
}

.faqs__second {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 30px;

}