.about {
    background-repeat: no-repeat;
    background-image: url("/img/bitmap.svg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 210px;

    &::after {
        background-repeat: no-repeat;
        background-image: url("/img/shadow.svg");
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        min-height: 100%;
        content: "";
        top: 0;
        z-index: 1;

    }

    &__container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__shadow {
        z-index: 2;
        position: relative;

        &__title {
            color: #FFF;
            font-family: Space Mono;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: -2.5px;
        }
    }
}